<demo-page-title>
    <div header>Test</div>
    <div sub-header>
        <p>Test component!</p>
    </div>
</demo-page-title>
<demo-page-content>
    <h2 class="ui dividing header">Examples</h2>
    <div class="ui segment">
        <sui-tags-input [optionsLookup]="optionsSearch"
                        [selectedOptions]="defaultValues"
                        [minSearchLength]="1"
                        [maxTagsCount]="3"
                        [tagSelected]="onTagSelected"
                        [tagDeselected]="onTagDeselected"
                        optionsField="first_name"></sui-tags-input>
    </div>
</demo-page-content>
