/* Ensures results div has margin. */
:host {
  display: inline-block;
}

/* Fixes positioning when results are pushed above the search. */
.results {
  margin-bottom: .5em;
}

.tags-div {
  /* This bit sets up the horizontal layout */
  display: flex;
  flex-direction: row;

  /* This bit draws the box around it */
  border: 1px solid grey;
  padding: 2px;
  border-radius: 8px;

  .tags-input {
     border: none;
     outline-offset: 0px !important;
     outline: none !important;

     input:focus {
       outline: #0099CC solid 2px;
     }
   }

  .tag-label {
    margin: 5px;
  }
}
